<div *ngIf="employees; else err" class="container emp-table">

    <div class="headers">
      <h2 class="table-title">Employee Management App</h2>
      <button class="btn add" (click)="openForm()">Add Employee</button>
    </div>
    <table class="table">

      <tr>
        <th>Employee ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email ID</th>
        <th>Created By</th>
        <th>Updated By</th>
        <th></th>
        <th></th>
      </tr>

      <tr class="text-center" *ngFor="let employee of employees">
        <td>{{employee['Id']}}</td>
        <td>{{employee['FirstName']}}</td>
        <td>{{employee['LastName']}}</td>
        <td>{{employee['EmailAddress']}}</td>
        <td>{{employee['CreatedBy']}}</td>
        <td>{{employee['UpdatedBy']}}</td>
        <td><button class="btn btn-primary" (click)="openForm(employee)">Edit</button></td>
        <td><button class="btn btn-danger" (click)="deleteEmployee(employee['Id'])">Delete</button></td>
      </tr>

    </table>
</div>




<ng-template #err>
    <h2 class="text-danger" style="text-align: center;">Error Fetching Data</h2>
</ng-template>




<div class="form-wrapper" *ngIf="showForm">

  <div class="employee-form">

    <h2 class="text-center text-info">{{formHeader}}</h2>

    <div class="group">
      <label for="FirstName">FirstName</label>
      <input type="text" class="form-control" [(ngModel)]="FirstName" fname="fname" required minlength="5">
    </div>
    <div class="group">
      <label for="LastName">LastName</label>
      <input type="text" class="form-control" [(ngModel)]="LastName" fname="lname" required minlength="5">
    </div>
    <div class="group">
      <label for="EmailId">EmailID</label>
      <input type="text" class="form-control" [(ngModel)]="EmailId" fname="email" required minlength="5">
    </div>
    <div class="group">
      <label for="CreatedBy">CreatedBy</label>
      <input type="text" class="form-control" [(ngModel)]="CreatedBy" fname="createdby" required minlength="5">
    </div>
    <div class="group">
      <label for="UpdatedBy">UpdatedBy</label>
      <input type="text" class="form-control" [(ngModel)]="UpdatedBy" fname="updatedby" required minlength="4">
    </div>
    <div class="action">
      <button class="btn btn-primary save" (click)="saveEmployee()">Save</button>
      <button class="btn btn-danger cancel" (click)="closeForm()">Cancel</button>
    </div>

  </div>

</div>

<!-- <span style="color: blue;text-align: center;">In App Component Span</span>

<h1 style="text-align: center;">In App Component</h1>

<router-outlet></router-outlet> -->

<!-- <a routerLink="/employee" routerLinkActive="active">Employee Component</a> -->